@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh
}

.header{
    width: 550px;
    height: 300px;
    box-shadow: 0px 5px 10px #b8b3b3;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.content{
    padding: 20px;
}

.content h3{
    font-weight: 400;
}

.date-input{
    margin-top: 1rem;
    width: 100%;
    height: 3.5rem;
    border: 2px solid #b9b8b8;
    border-radius: 5px;
}

.cycle{
    margin-top: 2rem;
    display: flex;
}

select{
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
}

#select-error{
    color: red;
}
.short{
    width: 100%;
    height: 3rem;
    border: 2px solid #b9b8b8;
    border-radius: 5px;
}

.long{
    width: 93%;
    margin-left: 20px;
    height: 3rem;
    border: 2px solid #b9b8b8;
    border-radius: 5px;
}

.form-btn{
    position: absolute;
    bottom: 1rem;
    left: 8.5rem;
    padding: 15px 60px;
    background-color: rgb(18, 163, 18);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
}

.form-btn.hidden {
    opacity: 0.5; 
    pointer-events: none; 
}

/* Displayed Result Styling */
.result-content{
    padding: 20px;
}

.inputs {
    margin-top: 2rem;
    font-weight: 300;

}

.inputs p {
    margin-top: 1rem;
}

/* Calendar Styling */
.your-result{
    margin: 1rem 0 0 2rem;
    font-weight: 300;
}

/* .calendar-container { 
    width: 650px;
    margin: 1rem;
}

.current-month{
  padding: 1.5rem;
  width: 95.2%;
  background: rgb(10, 106, 231);
  text-align: center;
  border: 2px solid #000;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
} 

.week-days{
  display: inline-block;
  width: 13.6%;
  text-align: center;
  list-style-type: none;
  padding: 30px 0;
  border: 1px solid;
  background-color: rgb(10, 106, 231);
  color: #ffffff;
  border: 1px solid #000;
  font-weight: bold;
} */


/* .current-date {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  font-size: 15px;
  padding: 1rem 2rem;
  border: 1px solid;
  font-weight: bold;
} */

 .wrapper{
  margin-top: 2rem;
  margin-left: 2rem;
  width: 550px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  display: none;
  margin-bottom: 2rem;
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
  
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center; 


}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
  
}
 .weeks li{
  font-weight: 500;
  cursor: default;
  background-color: rgb(22, 108, 238);
  padding: 1rem 2rem;
  border: 1px solid #000;
  color: #fff;
}
.calendar .days li{
  z-index: 1;
  border: 1px solid #000;
 
}
.days li.inactive{
  color: #aaa;
}
/* .days li.active{
  color: #fff;
} */
/* .days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
} */
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}






 

/* safe and unsafe days text-content */
.safe-days{
    padding-top: 1rem;
    color: green;
}

.unsafe-days{
    padding-top: 1rem;
    color: red;
    /* text-align: center; */
}
 /* Safe and unsafe days icon */
.bx{
    padding-top: 1px;
    font-size: 25px;
}

.bx-check{
    color: green;
}

.bx-x{
    color: red;
}

/* Next Month Calendar */
.next-month-calendar{
    width: 650px;
    margin: 1rem;
}

.new-month{
  padding: 1.5rem;
  width: 95.2%;
  background: rgb(10, 106, 231);
  text-align: center;
  border: 2px solid #000;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
} 

.new-month-weekdays{
  display: inline-block;
  width: 13.6%;
  text-align: center;
  list-style-type: none;
  padding: 30px 0;
  border: 1px solid;
  background-color: rgb(10, 106, 231);
  color: #ffffff;
  border: 1px solid #000;
  font-weight: bold;
}


.new-month-date {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  font-size: 15px;
  padding: 1rem 2rem;
  border: 1px solid;
  font-weight: bold;
}

/* .calendar-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
    margin-top: 2rem;
}

.day{
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
} */





/* Media Queries */

@media (max-width: 580px) {
.header {
    width: 500px;
    height: 300px;
} 
}

@media(max-width: 530px){
.header{
    width: 480px;
    height: 300px;
}

.form-btn{
    left: 7rem;
}

}

@media(max-width: 500px) {
.header{
    width: 460px;
    height: 300px;
}

.long{
    width: 91%;
    margin-left: 20px;
}

.form-btn{
    left: 6.2rem;
}
}

@media(max-width: 480px) {
.header{
    width: 440px;
    height: 300px;
}

.form-btn{
    left: 5.5rem;
}
}

@media(max-width: 460px) {
.header{
    width: 420px;
    height: 300px; 
}

.form-btn{
    left: 5rem;
}
}

@media(max-width: 440px) {
.header{
    width: 400px;
    height: 319px;
}

.form-btn{
    left: 4.5rem;
}
}

@media(max-width: 420px) {
.header{
    width: 380px;
    height: 319px; 
}

.long{
    width: 89%;
    margin-left: 20px;
}

.form-btn{
    left: 3.8rem;
}

}

@media(max-width: 390px) {
.header{
    width: 360px;
    height: 340px;
}

 

label {
    font-size: 15px;
}
.form-btn{
    left: 3rem;
}
} 

@media(max-width: 375px) {
.header{
    width: 340px;
    height: 340px;
}

 
label {
    font-size: 14px;
}

.content h3 {
    font-size: 17px;
}

.form-btn{
    left: 2.2rem;
}
}
@media(max-width: 360px) {
.header{
    width: 320px;
    height: 340px;
    
}

 label {
    font-size: 13px;
}

.content h3 {
    font-size: 17px;
}

.form-btn{
    left: 1.5rem;
    
}
}